body{
    color: #40514E;
    margin:0%;
    text-align: center;/*this will center all the elements inside it without any width preset*/
    font-family: 'Merriweather', serif;
}

h1{
    margin: 50px auto 0 auto;
    /*margin: 0 auto 0 auto; horizontal centering*/
    font-family: "Sacramento" , cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}
h2{  
    font-family: "Montserrat" , sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bold;
    padding-bottom: 10px;
}
h3{
    font-family: "Montserrat" , sans-serif;
    color:#11999E;
    font-weight: bold;
}
a{
    color:#11999E;
    font-family: "Montserrat" , sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
hr{
    border-color: grey;
    border-style: dotted none none;
    height: 0%;
    width: 5%;
    border-width: 10px;
    margin: 100px auto 100px auto;
}
p{
    line-height: 2;

}
.my-image{
    width: 25%;
    border-radius: 100%;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
}
.skill1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.topcontainer{
    background-color:#E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middlecontainer{
    margin: 100px 0;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-me{
    width: 60%;
    margin: 40px auto 60px;
}
.bottomcontainer{
    background-color: #66BFBF;
    padding: 40px 0 20px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left:250px;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:"Montserrat" , sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #11cdd4 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }